/*
Theme Name: JCCVB
Author: 3sparks llc
Author URI: http://3sparks.net/
Description: This is a blank bootstrap 3.1.1 theme for wordpress. Feel free to use this as a starter template for your projects.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@font-face {
    font-family: 'im_fell_english_proitalic';
    src: url('fonts/feenit27c-webfont.eot');
    src: url('fonts/feenit27c-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/feenit27c-webfont.woff2') format('woff2'),
         url('fonts/feenit27c-webfont.woff') format('woff'),
         url('fonts/feenit27c-webfont.ttf') format('truetype'),
         url('fonts/feenit27c-webfont.svg#im_fell_english_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'im_fell_english_proregular';
    src: url('fonts/feenrm28c-webfont.eot');
    src: url('fonts/feenrm28c-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/feenrm28c-webfont.woff2') format('woff2'),
         url('fonts/feenrm28c-webfont.woff') format('woff'),
         url('fonts/feenrm28c-webfont.ttf') format('truetype'),
         url('fonts/feenrm28c-webfont.svg#im_fell_english_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Wordpress editor styles start*/

.entry-content img {
	margin: 0 0 1.5em 0;
	}
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
	}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
	}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	}
.alignnone, img.alignnone {
	/* not sure about this one */
	}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
	}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
	}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
	}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
	}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
	}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
	}

/*Wordpress editor styles end*/
.no-gutter{padding: 0;}
.center-text{text-align: center;}
.bold{font-weight: 700;}

.blue{color: #2dbae2;}
.grey {color: #363636;}
.white{color: white;}
.blue-bg{background: #195088; border-color: #195088;}
.grey-bg{background: #555555; border-color: #555555;}
.parent{ position: relative;}
.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

::-webkit-input-placeholder {
   color: #195088;
}

:-moz-placeholder { /* Firefox 18- */
   color: #195088;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #195088;
}

:-ms-input-placeholder {
   color: #195088;
}
.top-menu{
	padding: 10px 0;
}
.contact-form input, .contact-form textarea, .wpcf7-form input {
    padding: 15px 10px;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    background-color: #d1d1d1;
    color: #006699;
    width: 100%;
    resize: none;
}
.wpcf7-form input[type="submit"], .contact-form input[type="submit"]{
	background-color: #195088 !important;
	color: white !important;
}
.subtitle{
	margin: 0;
}
.page{
	background:
	url(images/page-top.jpg) repeat-x,
	url(images/page-bg.jpg);
}
.page-title{
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    color: white;
    position: relative;
    font-weight: 400;
}

.post-short {
    display: block;
    padding-left: 20px;
    margin-top: 5px;
    font-size: 18px;
}
.readmore{
	font-size: 20px;
	text-decoration: none;
	color: #195088;
}
thead{
    background-color: #195088;
    color: white;
}
th{
	text-align: center;
	font-size: 18px;
}
.bigger-button {
    padding: 15px 0;
    font-size: 18px;
    background-color: #195088;
}
.description-title {
    font-weight: bold;
    background: url('http://192.185.169.164/~jdmetals/wp-content/themes/jdmetals/images/description-line.jpg') center center repeat-x;
}

.description-title span {
    background: white;
    padding-right: 15px;
}
.house-color {
    text-align: center;
    display: block;
    font-size: 12px;
}
.custom-pager{
	text-align: center;
}
.project-holder{
	margin-top: 50px;
	margin-bottom: 50px;
}
.projectimg{
	margin-top: 25px;
	margin-bottom: 25px;
}
.nextControl{
	float: right;
	cursor: pointer;
}
.prevControl{
	float: left;
	cursor: pointer;
}
.home-slide-content {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}
.home-slide-content h1{
	font-weight: 100;
	color: #c2c2c2 !important;
	text-align: center;
	margin-bottom: 0;
}
.home-slide-content h3{
	color: #c2c2c2 !important;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0px;
}
.home-buttons{
	margin-top: 30px;
}
.footer-container{
	text-align: center;
	background: url(images/footer-bg.jpg) left top;
}
.footer-info {
    height: 75px;
    line-height: 75px;
}
.footer-info a{
	color: inherit;
}
.nextcontrol{right: 0;}
.galleryfix {
    display: block;
    height: 50px;
    clear: both;
}

span.galleryfix:before {
    display: table;
    content: " ";
}
button.btn.btn-lg.btn-primary.blue-bg.white.center-block {
    margin-top: 20px;
}
.footer-logos{
	margin-top: 75px;
	margin-bottom: 75px;
}
.scrolltop{
	position: fixed;
	right: 25px;
	bottom: 0;
	display: none;
}
.darkroofbg{
	background-image: url('http://192.185.169.164/~jdmetals/wp-content/uploads/darkroofbg.jpg');
	padding:75px 0;
	margin-bottom:25px;
}
.banner-img{
	width: 100%;
	max-height: 175px;
}
.accommodation-list {
    background: white;
    padding-left: 0;
    margin-bottom: 1em;
}

.accommodation-list > .col-sm-3 {
    padding-left: 0;
}

.type {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}
.accommodation-list .name{
	margin-top: .25em;
}
div#accommodation-pager-img img {
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}
.share-holder{
	margin-top: 1em;
}
@media screen and (max-width: 450px){
	.qosbar{padding: 10px 0; line-height:33px; text-align: center;}
	.home-slide-content{bottom: 5px !important;}
	.home-buttons{display: none;}
}
@media (max-width: 767px){
	.home-slide-content h1{
		font-size: 20px;
		color: white !important;
	}
	.home-slide-content h3{
		font-size: 16px;
		color: white !important;
	}
	.home-buttons{
		margin-top: 15px;
	}
	.home-buttons > a{
		font-size: 12px !important;
		padding: 5px 8px !important;
	}
	.darkroofbg{
		padding: 35px 0;
	}
	.footer-info {
    height: auto;
    line-height: normal;
}
	.footer-logos{
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
@media (min-width: 451px) and (max-width: 991px){
	.qosbar{padding: 15px 0; line-height:33px; text-align: center;}
	.qosbar a {float: right;}
}
@media screen and (min-width: 992px ){
	.qosbar{padding: 25px 0; line-height:33px; text-align: center;}
	.qosbar a {float: right;}
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
	.menu-item:nth-child(3) {
		margin-right: 205px;
	}
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}
@media (max-width: 480px){
	.carousel, .carousel .item, .carousel-inner > .item > img{
		height: 240px;
	}
	.carousel-caption > p{
		display: none;
	}
	.carousel-caption > h2{
	  font-size: 14px;
	}
	.col-xs-bottom-pad{
		margin-bottom: 2em;
	}
	.large-text{
		font-size: 1.5em !important;
	}
	.md-text{
		font-size: 1.2em !important;
	}
	h3{font-size: 22px !important;}
	.attraction-details, .accommodation-details{	font-size: 14px; margin-top: 1em;}
	.attraction-details .btn-blue-full, .accommodation-details .btn-blue-full{font-size: 1em !important;}
	.attraction-list .btn-blue-full,.accommodation-list .btn-blue-full{font-size: .8em !important; margin-bottom: 25px;}
	.attraction-excerpt, .accommodation-excerpt{ max-height: 150px; overflow: hidden;}

}
@media (min-width: 481px) and (max-width: 767px){
	.carousel, .carousel .item, .carousel-inner > .item > img{
		height: 352px;
	}
	.carousel-caption > h2{
		font-size: 22px;
	}
	.carousel-caption > p{
		display: none;
	}
	.col-xs-bottom-pad{
		margin-bottom: 2em;
	}
	.accommodation-excerpt, .attraction-excerpt{ max-height: 150px; overflow: hidden;}
	.accommodation-details, .attraction-details{	font-size: 16px; margin-top: 1em;}
	.attraction-details .btn-blue-full, .accommodation-list .btn-blue-full{font-size: 1em !important; margin-bottom: 25px;}

}
@media (min-width: 768px) and (max-width: 991px){
	.carousel, .carousel .item, .carousel-inner > .item > img{
		height: 563px;
	}
	.carousel-caption {
	  font-size: 20px;
	}
	.attraction-details, .accommodation-details{	font-size: 18px; margin-top: 1em;}
	.share-title{line-height: 25px;}
	.attraction-details .btn-blue-full, .accommodation-list .btn-blue-full{font-size: 1em !important; margin-bottom: 25px;}
}
@media (min-width: 992px) and (max-width: 1199px){
	.carousel, .carousel .item, .carousel-inner > .item > img{
		height: 727px;
	}
	.carousel-caption {
	  font-size: 22px;
	}
	.attraction-details, .accommodation-details{	font-size: 20px;}
	.attraction-details .btn-blue-full, .accommodation-list .btn-blue-full{font-size: 1em !important; margin-bottom: 25px;}
	.share-title{line-height: 25px;}
}
@media (min-width: 1200px){
	.carousel {
	  height: 1080px
	}
	.carousel .item {
	  height: 1080px;
	}
	.carousel-inner > .item > img {
	  height: 1080px;
	}
	.carousel-caption {
	  font-size: 26px;
	}
	.carousel-caption {
		right: 35%;
		left: 35%;
		padding-bottom: 150px;
	}
    .attraction-details, .accommodation-details{	font-size: 22px;}

    .share-title{line-height: 50px;}
}
.no-gutter{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.green{
	color: #11352e !important;
}
.jcblue{
	color: #2496b6 !important;
}
.jcblue-bg{
	background-color: #57c5d0;
}
.green-bg{
	background-color: #18493c;
}
.single{
	background: url(images/whitebg.jpg) left top;
}
.md-text{
	font-size: 1.6em;
}
.menu-header-search {
    margin: 16px auto;
}
.get-started-link{
	padding-right: 15px;
	padding-left: 30px;
	color: white;
	font-size: 1.15em;
}
.get-started-link > img{
	margin: 0 10px 0 20px;
}
.btn-round{
	border-radius: 30px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 0;
  background-size: cover;
}
.carouselbar{
	height: 20px;
	background: url(images/carouselbottom.png) left top repeat-x;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.intro{
	background: url(images/intro-bg.jpg);
	background-size: cover;
	padding-bottom: 3em !important;
}
.large-text {
    font-size: 2.5em;
    margin-top: 1em;
    line-height: 1.2em;
}
.top-ten-holder{
	background: url(images/topten-bg.jpg) left top;
}
.toptentitle {
    font-size: 2.35em;
    text-transform: uppercase;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.slidenum {
    background-color: rgba(87,197,208,.9);
    font-size: 1.4em;
    float: left;
    padding: 15px;
    color: white;
    border-radius: 50%;
}
.top-ten-holder .slide {
    border: 1px solid #e5e2cf;
    padding: 2em;
    height: 265px;
}
.top-ten-holder .slide > p {
    clear: left;
    font-size: 1.75em;
    white-space: normal;
    line-height: 1.15em;
    padding: .5em 0px;
    color: #18493c;
}
.top-ten-holder .slide > p > a{
	font-size: 1.15em;
}

.cycle-prev{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: url(images/control-bg.jpg);
    width: 50px;
    z-index: 1000;
}
.cycle-next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: url(images/control-bg.jpg);
    width: 50px;
    z-index: 1000;
}
.cycle-prev img, .cycle-next img{
	margin: auto;
	position: absolute;
	top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.featured-images {
    background: url(images/featured-image-bg.jpg);
    background-size: cover;
}
.cantdecide{
	background: url(images/cantdecide-bg.jpg);
    background-size: cover;
}
.fancy-title{
	margin-top: 1.4em;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
}
.fancy-title > span:before{
	content: "";
	background-image: url(images/accent.png);
	position: relative;
	background-size: 60px 20px;
	display: inline-block;
	width: 60px;
	height: 20px;
	right: 15px;
	z-index: 1500;
}
.fancy-title > span:after{
	content: "";
	background-image: url(images/raccent.png);
	position: relative;
	background-size: 60px 20px;
	display: inline-block;
	width: 60px;
	height: 20px;
	position: relative;
	left: 15px;
	z-index: 1500;
}
.featured-video {
    padding: 1px;
}
.featured-video > img{
	width: 100%;
	position: relative;
}
.video-link {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    height: 3em;
    width: 50%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    background: rgba(36,150,182,0.8);
    line-height: 3em;
    text-decoration: none;
}
.video-link span{
	position: relative;
}
.video-link > span:before{
	content: url(http://visitjohnsoncitytn.com/newsite/wp-content/uploads/2015/12/left-curly-thing.png);
	position: absolute;
	top: -7px;
	margin: auto;
	left: -35px;
}
.video-link > span:after{
	content: url(http://visitjohnsoncitytn.com/newsite/wp-content/uploads/2015/12/curly-thing.png);
	display: inline-block;
	position: absolute;
	top: -8px;
	right: -30px;
}
.small-fancy-title {
    text-align: center;
    margin-top: 2em;
    font-size: 1.4em;
    font-style: italic;
}
.small-fancy-title:before{
	content: url(images/accent.png);
	position: relative;
	right: 15px;
	z-index: 1500;
}
.small-fancy-title:after{
	content: url(images/raccent.png);
	position: relative;
	left: 15px;
	z-index: 1500;
}
.cantdecide > .row > h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}
.southerndozen{
	background: url(images/southern-dozen-bg.jpg) no-repeat;
	background-size: cover;
	color: white !important;
	border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.tweetsietrail{
	background: url(images/tweetsie-trail-bg.jpg) no-repeat;
	background-size: cover;
	color: white !important;
	border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.bluebox{
	background: url(images/blueboxbg.png);
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em;
}
.btn-white {
    background: none;
    color: white;
    border-radius: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 1em;
}
.btn-white > img {
    margin-left: 1.5em;
    margin-right: 1em;
}
.events-slider-holder{
	background: url(images/events-bg.jpg) no-repeat;
	background-size: cover;
}
.event-slide{
	vertical-align: top;
}
.event-slide-wrapper{
    text-align: center;
    background: url(images/topten-bg.jpg) left top no-repeat;
    padding: 1.5em;
    margin: 0 2em;
    white-space: normal;
    word-wrap: break-word;
}
.event-slide-wrapper > a{font-size: 1.5em;font-weight: bold;}
.event-slide-wrapper > p{
	white-space: normal;
	font-weight: 300;
}
.btn-green {
    background-color: #448c7d;
    border-color: #448c7d;
    color: white;
    margin-top: 2em;
    font-size: 1em;
    margin-bottom: 10em;
}
.image {
    width: 100%;
}
.page-title h1 {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-family: 'im_fell_english_proregular';
}
.accommodation-details{
	float: right;
}
.accommodation-details .btn-blue{
    border: 1px solid #96dbe4;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px 10px !important;
}
.about-title{
	margin-top: 1em;
	margin-bottom: 1em;
}
.single-jccvb_accommodation h1{
	margin-bottom: 1em;
	margin-top: 1em;
}
.accommodation-details .green{
	margin-bottom: 1em;
}
.btn-blue-full{
	border-radius: 30px;
	background-color: #2dbae2;
	font-size: .8em;
	line-height: 28px;
	cursor: pointer;
}
.accommodation-list .btn-blue-full{font-size: 1.2em; margin-bottom: 25px;}
.accommodation-details .btn-blue-full{
	width: 47%;
}
.accommodation-details .btn-blue-full img{
	margin-right: 20px;
	float: right;
}
.accommodation-details .button-area{
	border-top: 1px solid #2dbae2;
	border-bottom: 1px solid #2dbae2;
	padding-top: 25px;
	padding-bottom: 25px;

}
#accommodation-pager-img .image{height: 150px;}
img.small-cycle-prev {
    position: absolute;
    top: 0;
    padding: 0 !important;
    left: 0;
}
.attraction-details{
  float: right;
}
.attraction-details .btn-blue{
    border: 1px solid #96dbe4;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px 10px !important;
}
.single-jccvb_attraction h1{
  margin-bottom: 1em;
  margin-top: 1em;
}
.attraction-details .green{
  margin-bottom: 1em;
}
.attraction-list .btn-blue-full{font-size: 1.2em; margin-bottom: 25px;}
.attraction-details .btn-blue-full{
  width: 47%;
}
.attraction-details .btn-blue-full img{
  margin-right: 20px;
  float: right;
}
.attraction-details .button-area{
  border-top: 1px solid #2dbae2;
  border-bottom: 1px solid #2dbae2;
  padding-top: 25px;
  padding-bottom: 25px;

}
#attraction-pager-img .image{height: 150px;}
img.small-cycle-prev {
    position: absolute;
    top: 0;
    padding: 0 !important;
    left: 0;
}
.small-cycle-next {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 !important;
}

li.jcweather {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 30px;
}

.jcweather > i {
    font-size: 20px;
    padding-right: 7px;
}

.my-nav-menu-search{
	margin: 12px auto;
}
/*Stop the display of the Search button*/
.my-nav-menu-search #searchsubmit {
    display: none;
}
/* The "Search for" text is needed for screen readers, but we move it off screen, so we won't see it */
.my-nav-menu-search .searchform .screen-reader-text {
    position: absolute;
    left: -9999px;
    overflow: hidden;
}

/* Style the search input textbox */
.my-nav-menu-search #s {
    background: transparent;
    border: none;
    -webkit-box-shadow:    none;
    -moz-box-shadow:       none;
    box-shadow:            none;
    cursor: pointer;
    height: 26px;
    margin: 2px 0px 0px 5px;
    padding: 0px 0 0 26px;
    position: relative;
    -webkit-transition: width 400ms ease;
    -moz-transition:    width 400ms ease;
    -o-transition:      width 400ms ease;
    transition:         width 400ms ease;
    width: 0px;
}

/* Expand the search box when you click it */
.my-nav-menu-search #s:active,
.my-nav-menu-search #s:focus {
    color: #18493c;/* change the colour above if you are working with a dark navbar background */
    border: 2px solid white;
    cursor: text;
    outline: 0;
    width: 132px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    /* margin: 0; */
}

/* Add a magnifying glass background */
.my-nav-menu-search .searchform:before {
	font-family: 'Glyphicons Halflings';
	content: '\e003';
	position: absolute;/* this is the key to put it visually inside the search field */
	font-size: 16px;
	font-weight: normal;
	top: 6px;/* tune this vertical alignment inside the search field, as needed */
	left: 10px;/* tune this horizontal alignment inside the search field, as needed */
	color: white;
}
.my-nav-menu-search .searchform {
    position: relative;
    margin: 0;
}